html {
    font-size:62.5%;
}
body {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
   
}

.container {
    display: block;
    float: left;
    padding: 20px;
    max-width: 98%;
    margin: 0 auto;
    width: 98%;
}

header {
    width:100%;
    display:block;
    float: left;
    padding:20px 0px;
    background:#fff;
    border-bottom: 1px solid #254159;

}

section {
    background: #fff;
    font-size: 1.5rem;
    width:98%;
    display:block;
    float: left;
    padding:20px 0px;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom:20px;

}
h2 {
    font-size: 2.0rem;
    color: #254159;
    margin-bottom:20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom:20px;
    padding-top:10px;
}

h4 {
    font-size: 1.6rem;
    color: #476783;
    margin-bottom:10px;
    padding-top:10px;
}

p {
    line-height: 1.4;
    margin-bottom: 10px;
    color: #353535;

}

ol {
    margin-left:20px;
}

ol li {
    font-size: 1.4rem;
    color:#454545;
}

nav li {
    margin: 5px 20px 1px 0;
    padding:10px;
    background:#f2f2f2;
}

nav li:hover {
    background: #dfdfdf;
}

nav a {
    text-decoration:none;
    color: #254159;
}

nav a:hover {
    color: #476783;
}
section nav {
    display:block;
    float:left;
    width:30%;

}

section article {
    display:block;
    float:left;
    width:70%;

}
footer {
        background: #254159;
        float:left;
        display:block;
        width:100%;
        padding:20px 0px;

}

footer p {
    color: #fff;
    font-size: 1.4em;

}

footer small {
    font-size: 80%;
    display:block;
}

.cog-branding cog-branding--minimal{
    visibility:hidden !important;
}

#tenho-interesse {
    background-color: #b8c8d6;
    width: 100%;
}

#tenho-interesse form,
.cognito.c-med .c-forms-form,
.cognito.c-med .c-forms-form div {
    background-color: #b8c8d6 !important;
}

#tenho-interesse .cognito .c-forms-form .c-forms-form-title h2,
#tenho-interesse .cognito label[for], .cognito input[type=radio], .cognito input[type=checkbox] {
    color: #385874;
}

.cognito {
    height: 350px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }
        .container {
            padding-left:1%;
            padding-right:1px;
        }
    }  

    @media (max-width: 768px) {
        section nav,
        section article {
            width: 100%;
        }  
    }
#banner {
 background-image: url('../imagens/banner.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size:cover;
 width:100vw;
 height: 60vh;
  }

  .legenda-container {
      width:30vw;
      float:right;
      margin-top:10vh 10vh 0 0;
  }

  .legenda {
      padding:20px;
      border-radius:5px;
      background-color: rgba(255, 255, 255, 0.6);
      margin-bottom:5rem;

  }

  .legenda h5 
  .legenda h4 {
      color: #254159;
      line-height: 150%;

  }

  .button-cta {
      display:inline;
      background-color: orangered;
      color: #fff;
      font-size:1.8rem;
      text-transform: uppercase;
      box-shadow: #454545 1px 1px 4px;
      padding: 10px 15px;
      width: auto !important;
      float:left;
      text-decoration: none !important;
      font-weight:300;
      border-radius:20px;
      float:right;

  }
  #saiba-mais {
      background: #d4dadf;
      padding:40px 20px;

  }

  #saiba-mais img,
  #saiba-mais p {
      width: 45%;
      display:block;
      float:left;
      padding:20px;

  }

  dt {
      font-weight:700;
      font-family:'Open Sans',sans-serif;
      font-size:1.6rem;

  }
  dl {
      margin-top: 20px 0;
  }
  dd {
      margin-left:20px;
      font-size:1.4rem;
  }